<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=DESKTOP-2B6DBDB;Initial Catalog=DB_TEST;Integrated Security=True"
			 name="connSS" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>